.ui-input {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid var(--ui-surface-1-border);
  background-color: var(--ui-surface-1-focus);
  color: var(--ui-color-text);
  border-radius: var(--ui-radius-md);
  margin-top: 4px;
}

.ui-input:focus {
  outline: 2px solid var(--ui-color-primary-border);
  outline-offset: 2px;
}

.ui-overlay-backdrop-transparent {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  z-index: 1000;
}

.ts-popover {
  position: fixed;
  width: 200px;
}

